body {
    background-color: #101630;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.buttonDegrade {
    background: linear-gradient(to right, #8bc6ee, #AD238A);
    border-radius: 10px;
}

.phraseEnDegrade {
    font-weight: bold;
    background: linear-gradient(90deg, #8bc6ee, #AD238A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.margeEntreSection {
    margin-top: 100px;
    margin-bottom: 100px;
}

.sectionTitle {
    font-size: 2em;
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal
}